<p>basic-creation works!</p>

<div fxFill fxLayout="column" fxLayoutAling="start">

<button mat-button color="primary" (click)="observableCreate()"> Create/ Observable</button>
<button mat-button color="primary" (click)="fromClick()"> From </button>
<button mat-button color="primary" (click)="ofClick()"> Of </button>
<button mat-button color="primary" (click)="intervalClick()"> Interval </button>
<button mat-button color="primary" (click)="timerClick()"> Timer </button>
<button mat-button color="primary" (click)="fromEventClick()"> FromEvent </button>
<button mat-button color="primary" (click)="unsubscribeClick()"> Unsubscribe </button>
</div>