<p>event-binding works!</p>

<section>
    <button mat-button color = "primary" (click)= "save()">save</button>
    <button mat-button color = "warn" (click) = "inc ()" >{{buttonName}}</button>

</section>
<br>
<!--
<section>

    <button mat-button color = "primary" [disabled] = "!btnEnable">My Button 1</button>
    <button mat-button color = "primary"  [disabled] = "!btnEnable">My Button 2</button>
   

    <button mat-button color = "warn" (click) = "disable()" [disabled] = "!btnEnable">disable</button>
    <mat-progress-spinner 
        [color  = "primary" 
        [ mode ] = "spinnerMode" 
        value  = "0"> 
    </mat-progress-spinner> 

</section>
-->
<section>
    <p>
        <mat-checkbox color = "warn" (change)="cbChange($event)">Disable / Enable</mat-checkbox>
    </p>
    <p>
    <mat-form-field> 
<mat-select  matNativeControl  required  [disabled]="selectDisabled" (selectionChange)="selectionChange($event)"> 
    <mat-option  value = "1"> Volvo </mat-option > 
    <mat-option value = "2"> Saab </mat-option > 
    <mat-option  value = "3">Mercedes </mat-option >  
    <mat-option  value = "4"> Audi </mat-option > 
  </mat-select> 
</mat-form-field>

<mat-card-actions>
    <p>
        selected option {{selectedOption}}
    </p>
</mat-card-actions>
</p>
</section>

<section>
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="Firstname" 
                (input)= "inputName = $event.target.value"
                [value]="inputName">
              </mat-form-field> 
        </mat-card-content>
        <mat-card-actions>
            Name: {{inputName}}
        </mat-card-actions>
    </mat-card>


</section>